# Thư mục tạm
temp/
*.mp4
*.avi
*.txt

# File cấu hình chứa thông tin nhạy cảm
config.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.spec

# PyInstaller
*.spec

# File .exe (giữ lại để upload lên GitHub)
# dist/System32Cache.exe

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

